h1, h2, p, ul{
    font-family: 'Courier New', Courier, monospace
}

h1{
    font-size: 40px;
    margin: 50px 30px 20px 30px
}

h1 {
    text-align: center;
    line-height: 1.4;
}

img {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: 200px;
}

body {
    background-color: rgb(143, 227, 255);
}

.tema {
    overflow: auto;
    margin-bottom: 40px;
}

footer {
    font-size: 10px;
    text-align: right;
}